@model leave_mgmnt.Models.adminLeaveRequestIndexVM

@{
    ViewData["Title"] = "Index";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leave Requests</h1>

@*<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>*@
<div class="row">
    <div class="col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-tachometer-alt"></i></span>
            <div class="info-box-content">
                <span class="info-box-content">@Model.totalRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.totalRequests)</span>
               
            </div>
        </div>

            </div>

    <div class="col-md-3">

        <div class="info-box">
            <span class="info-box-icon bg-secondary"><i class="fas fa-exclamation-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-content">@Model.pendingRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.pendingRequests)</span>

            </div>
        </div>


        
    </div>

    <div class="col-md-3">

        <div class="info-box">
            <span class="info-box-icon bg-success"><i class="fas fa-check-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-content">@Model.approvedRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.approvedRequests)</span>

            </div>
        </div>


        
    </div>

    <div class="col-md-3">


        <div class="info-box">
            <span class="info-box-icon bg-danger"><i class="fas fa-window-close"></i></span>
            <div class="info-box-content">
                <span class="info-box-content">@Model.rejectedeRequests</span>
                <span class="info-box-number">@Html.DisplayNameFor(model => model.rejectedeRequests)</span>

            </div>
        </div>


        

    </div>
</div>

<br/>
<br />
<h5><b>Leave Request Log</b></h5>
<br/>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
               Employee Name
            </th>
            <th>
              Start Date
            </th>
            <th>
               End Date
            </th>
            <th>
              Leave Type
            </th>
            <th>
               Date Requested
            </th>
           
            <th>
               Approval Status
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.leaveRequets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.requestEmployee.FirstName) @Html.DisplayFor(modelItem => item.requestEmployee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateRequested)
            </td>
           
            <td>
                @if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {

                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-info">Pending</span>
                }
            </td>
            
            <td>
                
                <a class="btn btn-outline-primary"  asp-action="Details" asp-route-id="@item.id">Review</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
